@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --Orange: #FF5733 ;
  --Blue: #2E86C1 ;
  --Gray: #BDC3C7 ;
  --Green: #27AE60 ;
  --Purple: #8E44AD ;
  --Yellow: #F5B041 ;
  }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2f2f2f;
  color: #fff;
}